<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Local CSS -->
    <link rel="shortcut icon" href="/logo/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/homepage/c01.css" />
    <link rel="stylesheet" href="/css/homepage/styles.css" />
    <link rel="stylesheet" href="/css/homepage/timelineProfile.css" />
    <link rel="stylesheet" href="/css/homepage/newProfile.css" />
    <link rel="stylesheet" href="/css/post/postComment.css" />
    <!-- OwlCarousel -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CDN  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a6a7deb1e6.js"
      crossorigin="anonymous"
    ></script>
    <title>Apprenant | Home</title>
  </head>

  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark final-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/logo/Apprenant-Logo-t.png"
            alt=""
            width="130"
            height="40"
            class="d-inline-block align-text-top ps-3"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav dropdown-menu-end dropdown-menu-lg-start ms-auto"
          >
            <li class="nav-item m-custom">
              <div class="justify-content-center">
                <form class="d-flex my-lg-0 my-lg-0 py-1" action="/search" method="post">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    name="searchTerm"
                    aria-label="Search"
                    style="width: 35vw"
                  />

                  <button class="btn btn-outline-light ms-2" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="#">
              <!-- Notification -->
              <i class="far fa-bell nav-dropdown-custom"></i>
            </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="/compose">
              <!-- Post Create -->
              <i class="fas fa-plus nav-dropdown-custom"></i>
            </a>
            </li>
            <li class="nav-item dropdown profile-dropdown">
              <a
                class="nav-link dropdown-toggle nav-dropdown-custom d-color"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="far fa-user-circle nav-dropdown-custom"></i>
                <%= username %>
              </a>
              <ul
                class="dropdown-menu dropdown-left-manual"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/create-community">Create a Community</a></li>
                <li><a class="dropdown-item" href="/contactUs">Help Center</a></li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar end  -->

    <div class="container" style="max-width: 1200px">
      <!-- show a dialog if user is not verified  -->

      <% if(!verified){ %>
      <div
        class="alert alert-danger alert-dismissible fade show mt-3"
        role="alert"
      >
        <strong>ATTENTION !</strong> Please verify your account to continue
        using our services.
        <a href="/user/send-verification-email">Re-send Verification Email</a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if(typeof emailsent !='undefined' ){ %> <% if(emailsent){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>SUCCESS</strong> Verification Email Sent Sucessfully. Valid Only
        for 20 minutes.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <% } %> <% } %> <% if(typeof err !='undefined' ){ %> <% if(err){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>ERROR </strong>
        <%= err %>.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <% } %> <% } %>

      <!-- <h1 class="text-center p-3 signup">
        Welcome, <%= username %> to Apprenant
      </h1> -->
      <div class="row">
        <div class="col-md-12 mt-4">
          <h5 class="content-heading mb-3">Communities</h5>
          <div class="owl-carousel owl-theme">
            <% community = community.reverse() %>
            <% community.forEach(function(community) { %>
              <a href="/community/<%= community._id %>">
                <div class="item">
                  <div class="img-gradient">
                      <h3 class="community-abt ms-2"><%= community.name %></h3>
                      <p class="community-des ms-2"><%= community.about %></p>
                      <img class="carousel-img" src="/uploads/<%=community.image%>" alt="community-image" />          
                  </div>
                </div>
              </a>
            <% }) %>
          </div>
        </div>

        <!-- Carousel End -->

        <!-- Post -->

        <d iv class="row mt-5">
          <div class="col-md-8">
            <h5 class="content-heading mb-4">Popular posts</h5>
            
              <% posts = posts.reverse(); %>
              <% posts.forEach(function(post) { %>
                <div class="panel blog-container mb-5 post-border">
                  <div class="panel-body p-4">
                
                  <h3><%= post.postTitle %></h3>
                  <!-- <div class="dropdown1">
                    <i class="fas fa-ellipsis-h dropbtn1"></i>
                    <div class="dropdown-content1">
                    <a href="#">Share</a>
                    <a href="#">Link</a>
                    </div>
                  
                  </div> --> 
                  <small class="text-muted"
                    >By
                    <a class="user-w-posted" href="#"
                      ><strong> <%= post.postBy %> </strong></a
                    >
                    | Post on <%= post.postDate %></small
                  >
                  <p>
                    <%= post.postContent.substring(0, 150) + " ... "%><a
                      href="/posts/<%=post._id%>"
                      >Read more</a
                    >
                  </p>
                  <img src="/uploads/<%=post.postFile%>" alt="post-file" class="card-img">
                
              </div>
            </div>
              <% }); %>
             
          </div>
          <!-- LIST GROUP -->
          <div class="col-md-4">
              <div class="trending-post">
                  <h5 class="content-heading mb-4">Trending today</h5>
              <ul class="list-group">
                  <li class="list-group-item trending-list mb-1">
                      <div class="d-flex position-relative">
                          <img src="/images/img14.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>Best $10 accessories for Apple's Airpods</p>
                            
                          </div>
                        </div>
                  </li>
                  <li class="list-group-item trending-list my-1">
                      <div class="d-flex position-relative">
                          <img src="/images/img15.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>How to Become a Web Developer in 2021</p>
                            
                          </div>
                        </div>
                  </li>
                  <li class="list-group-item trending-list my-1">
                      <div class="d-flex position-relative">
                          <img src="/images/img16.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>Is target Display Mode not supported by new iMacs</p>
                            
                          </div>
                        </div>
                  </li>
                  <li class="list-group-item trending-list my-1">
                      <div class="d-flex position-relative">
                          <img src="/images/img17.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>Afghanistan: Where will refugees go after Taliban takeover?</p>
                            
                          </div>
                        </div>
                  </li>
                  <li class="list-group-item trending-list my-1">
                      <div class="d-flex position-relative">
                          <img src="/images/img18.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>Is it safe for my child to get a COVID-19 vaccine?</p>
                            
                          </div>
                        </div>
                  </li>
                  <li class="list-group-item trending-list my-1">
                      <div class="d-flex position-relative">
                          <img src="/images/books.jpg" class="flex-shrink-0 me-3" alt="" height="60px" width="60px">
                          <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
                            
                          </div>
                        </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      var owl = $(".owl-carousel");
      owl.owlCarousel({
        loop: true,
        nav: false,
        dots: false,
        margin: 10,
        responsive: {
          0: {
            items: 1,
          },
          480: {
            items: 1,
          },
          600: {
            items: 2,
          },
          920: {
            items: 3,
          },

          1200: {
            items: 4,
          },
        },
      });
      owl.on("mousewheel", ".owl-stage", function (e) {
        if (e.deltaY > 0) {
          owl.trigger("next.owl");
        } else {
          owl.trigger("prev.owl");
        }
        e.preventDefault();
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a62f377a42.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
