<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User | Profile</title>
    <link rel="stylesheet" href="/css/homepage/timelineProfile.css" />
    <link rel="stylesheet" href="/css/homepage/newProfile.css" />
    <link rel="stylesheet" href="/css/homepage/styles.css" />
    <link rel="stylesheet" href="/css/homepage/c01.css" />
    <!-- <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    /> -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a6a7deb1e6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark final-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/profile">
          <img
            src="/logo/Apprenant-Logo-t.png"
            alt=""
            width="130"
            height="40"
            class="d-inline-block align-text-top ps-3"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav dropdown-menu-end dropdown-menu-lg-start ms-auto"
          >
            <li class="nav-item m-custom">
              <div class="justify-content-center">
                <form class="d-flex my-lg-0 my-lg-0 py-1">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"
                    style="width: 35vw"
                  />

                  <button class="btn btn-outline-light ms-2" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="#">
                <!-- Notification -->
                <i class="far fa-bell nav-dropdown-custom"></i>
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="/compose">
                <!-- Post Create -->
                <i class="fas fa-plus nav-dropdown-custom"></i>
              </a>
            </li>
            <li class="nav-item dropdown profile-dropdown">
              <a
                class="nav-link dropdown-toggle nav-dropdown-custom d-color"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="far fa-user-circle nav-dropdown-custom"></i>
                <%= username %>
              </a>
              <ul
                class="dropdown-menu dropdown-left-manual"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/user/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Create a Community</a>
                </li>
                <li><a class="dropdown-item" href="#">Help Center</a></li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="max-width: 1200px">
      <div class="row">
        <!-- PROFILE -->
        <div class="col-sm-12 col-md-12" style="position: relative">
          <div class="upper-banner"></div>

          <div class="col-md-12 lower-banner">
            <div class="col-sm-10">
              <div class="container-profilepic">
                <% if (provider == "github" || provider == "google") { %>
                <img
                  src="/uploads/<%= thumbnail %>"
                  class="profile-picture img-thumbnail"
                  alt="profile picture"
                  usemap="#workmap"
                  width="190px"
                  height="190px"
                />
                <map name="workmap">
                  <area
                    shape="circle"
                    coords="95,95,154"
                    alt="profile image"
                    href="/user-profile-edit"
                  />
                </map>

                <% } else if(thumbnail) { %>
                <img
                  src="/uploads/<%= thumbnail %>"
                  class="profile-picture img-thumbnail"
                  alt="profile picture"
                  usemap="#workmap"
                  width="190px"
                  height="190px"
                />
                <map name="workmap">
                  <area
                    shape="circle"
                    coords="95,95,154"
                    alt="profile image"
                    href="/user-profile-edit"
                  />
                </map>
                <% } else { %>
                <img
                  src="/images/default.png"
                  class="profile-picture img-thumbnail"
                  alt="profile picture"
                  usemap="#workmap"
                  width="190px"
                  height="190px"
                />
                <map name="workmap">
                  <area
                    shape="circle"
                    coords="95,95,154"
                    alt="profile image"
                    href="/user-profile-edit"
                  />
                </map>
                <% } %>
                <div class="middle-profilepic">
                  <div class="text-profilepic">
                    <i class="fas fa-camera"></i>
                  </div>
                  <div class="text-profilepic">Change it</div>
                </div>
              </div>

              <div class="user-display">
                <div class="user-data">
                  <span class="username"> <%= username %> </span>
                </div>
                <div class="user-info"><%= about %></div>
              </div>
            </div>
          </div>

          <div class="timeline-container">
            <a href="/user/profile" class="text-decoration-none switch-tab-link"
              >Timeline</a
            >

            <a
              href="/user-profile-view"
              class="text-decoration-none switch-tab-link mx-4"
            >
              About</a
            >
            <a
              href="/user-created-communities"
              class="text-decoration-none switch-tab-link"
              >Communities</a
            >
          </div>
        </div>
        <div class="my-5">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <% communities.forEach(function(community) { %>
            <a href="/community/<%= community._id %>" class="community-card">
              <div class="col">
                <div class="card h-80">
                  <img src="/uploads/<%=community.image%>" class="community-card-img card-img-top" alt="..." height="250px" width="250px">
                  <div class="card-body">
                    <h5 class="card-title"><%= community.name %></h5>
                    <p class="card-text"><%= community.about %></p>
                  </div>
                </div>
              </div>
            </a>
            <% }) %>
          </div>
        </div>
    </body>
</html>