<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Local CSS -->
    <link rel="shortcut icon" href="/logo/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/homepage/c01.css" />
    <link rel="stylesheet" href="/css/homepage/styles.css" />
    <link rel="stylesheet" href="/css/homepage/timelineProfile.css" />
    <link rel="stylesheet" href="/css/homepage/newProfile.css" />
    <link rel="stylesheet" href="/css/post/postComment.css" />
    <link rel="stylesheet" href="/css/profile/userProfileEdit.css" />
    <!-- OwlCarousel -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CDN  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a6a7deb1e6.js"
      crossorigin="anonymous"
    ></script>
    <title>Apprenant | Home</title>
  </head>

  <body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark final-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/profile">
          <img
            src="/logo/Apprenant-Logo-t.png"
            alt=""
            width="130"
            height="40"
            class="d-inline-block align-text-top ps-3"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav dropdown-menu-end dropdown-menu-lg-start ms-auto"
          >
            <li class="nav-item m-custom">
              <div class="justify-content-center">
                <form class="d-flex my-lg-0 my-lg-0 py-1">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"
                    style="width: 35vw"
                  />

                  <button class="btn btn-outline-light ms-2" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="#">
                <!-- Notification -->
                <i class="far fa-bell nav-dropdown-custom"></i>
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link d-color" href="/compose">
                <!-- Post Create -->
                <i class="fas fa-plus nav-dropdown-custom"></i>
              </a>
            </li>
            <li class="nav-item dropdown profile-dropdown">
              <a
                class="nav-link dropdown-toggle nav-dropdown-custom d-color"
                href="#"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="far fa-user-circle nav-dropdown-custom"></i>
                <%= username %>
              </a>
              <ul
                class="dropdown-menu dropdown-left-manual"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="/user/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Create a Community</a>
                </li>
                <li><a class="dropdown-item" href="#">Help Center</a></li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      id="wrapper"
      class="container col-sm-12 col-md-12"
      style="max-width: 1200px"
    >
      <div class="col-sm-12 col-md-12 profile-container">
        <div class="upper-banner"></div>

        <div class="col-md-12 lower-banner">
          <div class="col-sm-10">
            <% if(thumbnail) { %>
            <img
              src="/uploads/<%= thumbnail %>"
              class="profile-picture img-thumbnail"
              alt="profile picture"
              usemap="#workmap"
              width="190px"
              height="190px"
            />
            <map name="workmap">
              <area
                shape="circle"
                coords="95,95,154"
                alt="profile image"
                href="/user-profile-edit"
              />
            </map>
            <% } else { %>
            <img
              src="/images/default.png"
              class="profile-picture img-thumbnail"
              alt="profile picture"
              usemap="#workmap"
              width="190px"
              height="190px"
            />
            <map name="workmap">
              <area
                shape="circle"
                coords="95,95,154"
                alt="profile image"
                href="/user-profile-edit"
              />
            </map>
            <% } %>
            <div class="user-display">
              <div class="user-data">
                <h1 class="username"><%= username %></h1>
              </div>
              <div class="user-info"><%= about %></div>
            </div>
          </div>
        </div>

        <div class="timeline-container">
          <a href="/user/profile" class="text-decoration-none switch-tab-link"
            >Timeline</a
          >

          <a
            href="/user-profile-view"
            class="text-decoration-none switch-tab-link mx-4"
          >
            Profile</a
          >
        </div>
      </div>

      <div class="info-container mt-5">
        <h4 class="head-profile">View Profile</h4>
        <a href="/user-profile-edit"
          ><button class="btn-profile">Edit Profile</button></a
        >
        <hr style="margin-top: 0 !important" />
        <h5 class="general-info">General Information</h5>
        <hr class="new1" />
        <table>
          <tr>
            <td>First Name</td>
            <td><%= firstName %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= lastName %></td>
          </tr>
          <tr>
            <td>Birth Date</td>
            <td><%= DOB %></td>
          </tr>
        </table>

        <h5 class="general-info">About</h5>
        <hr class="new1" />
        <table>
          <tr>
            <td>About</td>
            <td><%= about %></td>
          </tr>
        </table>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
